# Match kernel name of device, rather than ATTRS{idProduct} and ATTRS{idVendor}
# so we can access the range file and leds directory. Set rw access to these 
# files for everyone.
# 
#   This udev rules are for the HORI Control System devices
# This rule is needed for basic functionality of the controller in Steam and keyboard/mouse emulation


# HORI Truck Control System Wheel
#KERNEL=="hidraw*", ATTRS{idVendor}=="0f0d", ATTRS{idProduct}=="017a", MODE="0660", TAG+="uaccess"

#Bus 003 Device 007: ID 0f0d:0186 Hori Co., Ltd HORI TRUCK CONTROL SYSTEM SHIFTER
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="0f0d", ATTRS{idProduct}=="0186", MODE="0666", ENV{ID_INPUT_JOYSTICK}="1", ENV{ID_CLASS}="joystick", TAG+="uaccess"
SUBSYSTEM=="input", ATTRS{idVendor}=="0f0d", ATTRS{idProduct}=="0186", MODE="0666", ENV{ID_INPUT_JOYSTICK}="1", ENV{ID_CLASS}="joystick", TAG+="uaccess"    
SUBSYSTEM=="event", ATTRS{idVendor}=="0f0d", ATTRS{idProduct}=="0186", MODE="0666", ENV{ID_INPUT_JOYSTICK}="1", ENV{ID_CLASS}="joystick", TAG+="uaccess"
SUBSYSTEM=="js", ATTRS{idVendor}=="0f0d", ATTRS{idProduct}=="0186", MODE="0666", ENV{ID_INPUT_JOYSTICK}="1", ENV{ID_CLASS}="joystick", TAG+="uaccess"

#Bus 003 Device 009: ID 0f0d:017a Hori Co., Ltd HORI TRUCK CONTROL SYSTEM WHEEL
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="0f0d", ATTRS{idProduct}=="017a", MODE="0666", ENV{ID_INPUT_JOYSTICK}="1", ENV{ID_CLASS}="joystick", TAG+="uaccess"
SUBSYSTEM=="input", ATTRS{idVendor}=="0f0d", ATTRS{idProduct}=="017a", MODE="0666", ENV{ID_INPUT_JOYSTICK}="1", ENV{ID_CLASS}="joystick", TAG+="uaccess"    
SUBSYSTEM=="event", ATTRS{idVendor}=="0f0d", ATTRS{idProduct}=="017a", MODE="0666", ENV{ID_INPUT_JOYSTICK}="1", ENV{ID_CLASS}="joystick", TAG+="uaccess"
SUBSYSTEM=="js", ATTRS{idVendor}=="0f0d", ATTRS{idProduct}=="017a", MODE="0666", ENV{ID_INPUT_JOYSTICK}="1", ENV{ID_CLASS}="joystick", TAG+="uaccess"
